/*
 *= require store/spree_frontend
*/
nav#top-nav-bar ul#nav-bar {
  margin-bottom: 0px;
}

nav #main-nav-bar {
  margin-top:10px;
}

#store-hours {
  float: right;
  text-align: left;
}

#store-hours h4 {
  color: #6A384D;
  margin-bottom: 0px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 1.5em;
}

#store-hours ul {
  list-style: none;
}

#store-hours ul li {
  float: left;
  margin-left: 0.2em;
  border: 2px solid #EEEFF0;
  padding: 2px 5px 6px 5px;
  background-color: #F7F7F7;
  font-size: 0.8em;
  color: black;
  font-weight: normal;
  line-height: 1.3em;
  text-align: right;
}

#store-hours .today {
  background-color: #F6B8E5;
  border: 2px solid #F6B8E5;
}

#store-hours .closed {
  padding-top: 8px;
  padding-bottom: 16px;
}

#store-hours .day {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 5px;
  text-decoration: underline;
}

#store-hours .seperator {
  text-align: center;
  line-height: 0.75em;
}